@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

html {
  scrollbar-gutter: stable;
}

a,
.green {
  text-decoration: none;
  padding: 3px;
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }
}
